/* add your CSS here */
.card{
	width: 300px;
	box-shadow: 5px 5px #eee;
}
.card ul{
	padding-left: 0;
}
.card ul li{
	list-style: none;
}
.border{
	border: 1px solid #ddd;
}
.padding{
	padding: 5px 10px;
}
.m-top-10{
	margin-top: 10px;
}